@import url('./style.css');

body {
    background-image: url('../images/cinema-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 14px;
    border: 0.58px solid rgba(231, 227, 252, 0.23);
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: white;
    cursor: pointer;
}

.separator {
    color: rgba(157, 158, 161, 100);
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 4px 0;
}

.form-button-primary {
    background-color: rgba(61, 65, 66, 1);
}

.form-button-google {
    background-color: transparent;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.password-icon {
    position: absolute;
    left: 236px;
    bottom: 30px;
    cursor: pointer;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.form-footer p, .form-footer a {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.form-footer p:first-child {
    color: rgba(193, 194, 196, 100);
}

.form-footer a {
    color: rgba(255, 255, 255, 100);
    cursor: pointer;
}

.form-footer a:hover {
    text-decoration: underline;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.card-container {
    width: 306px;
    height: 384px;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 16px;
    padding: 24px;
    gap: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-form {
    width: 100%;
}

.form-label {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
}

.form-input {
    display: block;
    width: 100%;
    height: 28px;
    border-radius: 12px;
    border: 0.58px solid rgba(231, 227, 252, 23);
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: rgba(193, 194, 196, 100);
}

.card-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
}

.card-title p:first-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
}

@media screen and (min-width: 1024px) {
    .card-container {
        width: 529px;
        height: 663px;
        padding: 40px;
        gap: 40px;
    }

    .card-container > img {
        width: 163px;
        height: auto;
    }

    .card-htitle {
        font-size: 16px;
    }

    .card-title p:first-child {
        font-size: 32px;
    }

    .form-label {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .form-input {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 24px;
        border: 1px solid rgba(231, 227, 252, 23);
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
    }

    .password-icon {
        width: 20px;
        height: 20px;
        left: 412px;
        bottom: 36px;
    }

    .form-footer {
        margin-top: 12px;
    }

    .form-footer p, .form-footer a {
        font-size: 16px;
    }

    .form-button {
        height: 50px;
        border-radius: 24px;
        border: 1px solid rgba(231, 227, 252, 0.23);
        font-size: 16px;
        color: white;
        cursor: pointer;
    }

    .form-button-google {
        gap: 20px;
    }

    .separator {
        font-weight: 500;
        font-size: 14px;
        margin: 8px 0;
    }
}